*.tx2
*.tx3
*.res
*.nev
profinl.pas
proflst.asc
*.bat
archived/
code_examples/
*.lacobj
lib/
test/
tools/
*.xlsx
*.txt
*.dbg
asm65
profile.ini
*.exe
backup/
docs/6502 binary relocation format.pdf
docs/6502 Instruction Set.webarchive
docs/atmel_avr_assembler_40001917a.pdf
